@import url(progress_activity.css);
@import url(confirm.css);
@import url(switches.css);

@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Bold.ttf');
	font-weight: 700;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Medium.ttf');
	font-weight: 500;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Regular.ttf');
	font-weight: 300;
}
@font-face{
	font-family:'mozTT';
	src:url('fonts/MozTT-Light.ttf');
	font-weight: 100;
}
@media screen and (orientation:portrait) {
	html{
		font-size: 5vw!important;
	}
}
@media screen and (orientation:landscape) {
	html{
		font-size: 5vh!important;
	}
}
@media only screen and (min-resolution: 90dpi) and (min-width: 530px){
	html{
		font-size: 150%!important;
	}
	header .title.centered{position:absolute;left:45px!important;right:32px;text-align:center;display:inline-block}
	li, small {
		font-size: 100%!important;
	}
	button{
		height: 3rem;
		line-height: 1.5rem;
	}
}
@media only screen and (min-resolution: 90dpi) and (max-width: 530px){
	li, small{
		font-size: 90%!important;
	}
	header .title.centered{position:absolute;left:32px!important;right:32px;text-align:center;display:inline-block}
	button{
		height: 2.4rem;
		line-height: 1rem;
	}
}
body *{
	font-family: MozTT, Open Sans, Ubuntu, Droid Sans, Roboto, Sans;
	font-weight: 200;
	letter-spacing: -0.05em;
}
a{
	color: inherit;
}

button{
	background-color: #D45500!important;
}
button::-moz-focus-inner{
	border: 0;
}
body > section > header{
	height: 3rem;
	box-shadow: none;
	background: url("headers/images/ui/header.png") repeat-x scroll 0 0 / auto 100% transparent;
	box-shadow: 0 0 .5rem #333;
	z-index: 2;
}
body > section > header > span.title{
	text-align: left!important;
	left: .3rem!important;
	font-size: 1.5rem;
	line-height: 1.5rem;
	top: .8rem;
}
body > section > header > nav a{
	height: 3rem!important;
	width: 2rem;
	color: #FFF!important;
	text-shadow: none!important;
	line-height: 3rem!important;
	text-align: center;
}
body > section > header > nav a.active{
	background-color: rgba(255, 255, 255, .2);
}
body > section > header > nav a img{
	width: 1.4rem;
}
body > section > header > nav a.left{
	width: 1.2rem!important;
	padding: 0 .2rem!important;
	background-color: rgba(0, 0, 0, .1);
}
body > section > header > nav a.left span{
	font-size: 1rem!important;
}
#main-article{
	top: 3rem!important;
}

span.icon.brand.twitter, span.icon.refresh {
	font-size: 100%!important;
}

li, small {
	line-height: 1em!important;
}

.button.anchor {
	width: 70%!important;
}

h1 {
	font-size: 50%!important;
}

#progress {
	top: 0!important;
}

#item-delete-dialog {
  display:none;
}

.item-list-scrollouter {
  height: calc(100% - 5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}
 
.item-list-scrollouter label {
  display: none;
}
 
.item-list-scrollouter-edit {
  height: calc(100% - 11.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
}
 
.item-list-scrollouter-edit label {
  display: inline-block;
}

#main-wrapper, #item-list-panel {
  height: 100%;
}

#li label {
	font-size: 10px!important;
}

#path_root {
	background: none!important;
	border-bottom: 0px!important;
}

label:not([for]) input[type="checkbox"] + span.folder {
	background: url(images/folder.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.doc {
	background: url(images/doc.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xls {
	background: url(images/xls.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ppt {
	background: url(images/ppt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.psd {
	background: url(images/psd.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.ai {
	background: url(images/ai.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.pdf {
	background: url(images/pdf.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.html {
	background: url(images/html.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.xml {
	background: url(images/xml.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.txt {
	background: url(images/txt.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.mp3 {
	background: url(images/mp3.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.jpg {
	background: url(images/jpg.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.png {
	background: url(images/png.png) no-repeat center;
}

label:not([for]) input[type="checkbox"] + span.zip {
	background: url(images/zip.png) no-repeat center;
}

label span.home {
	height: 20px!important;
}

span.home {
	width: 25px;
	display:block;
	background: url(images/home.png) no-repeat center;
}